/*--------------------------------Font Imports--------------------------------*/

@font-face {
    font-family: 'GothamMedium';
    src: url('/fonts/GothamMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*--------------------------------Responsive Style--------------------------------*/

@media screen and (max-width: 1000px) {
    #DoctorDashboardDiv,#PatientDashboardDiv {
        flex-direction: column;
        flex-wrap: nowrap!important;
    }
    #DoctorDashboardDiv #DoctorDashboardPatients,
    #DoctorDashboardDiv #DoctorDashboardAlertesRecentes,
    #PatientDashboardDiv #PatientDashboardForm,
    #PatientDashboardDiv #PatientDashboardRecentElement,
    #PatientDashboardDiv #PatientDashboardCapteurList,
    #PatientDashboardDiv #DoctorDashboardAlertesRecentes,
    #PatientDetailsDiv,
    #ProfileDiv,
    #NotificationsDiv {
        overflow: visible;
        margin-bottom: 10px!important;
        margin-left: 0px!important;
        margin-right: 0px!important;
        margin-top: 0px!important;
        width: 100%;
    }
    #PatientDetailsDiv,
    #ProfileDiv,
    #NotificationsDiv{
        height: fit-content!important;
    }
    .glassFrame:not(#topLayoutFrame){
        max-height: none!important;
        padding-bottom: 20px!important;
        margin-bottom: 0;
    }
    body::-webkit-scrollbar {
        display: none;
    }
    #DoctorDashboardAlertsList{
        overflow: visible!important;
    }
    #topLayoutFrame{
        margin: 0!important;
        width: 100%!important;
        position: fixed!important;
    }
    .glassFrame{
        border-radius: 0!important;
    }
    #rootDiv{
        top: 90px!important;
        height: calc(100% - 90px)!important;
    }
    #loginFrame, #signUpFrame{
        margin: 0!important;
        width: 100%!important;
    }
    #loginFrame {
        height: calc(100% - 70px)!important;
    }
    #signUpFrame {
        height: calc(100% - 43px)!important;
    }
    #PatientFormAllInputs{
        justify-content: space-around!important;
    }
}

/*--------------------------------General Style--------------------------------*/

* {
    font-family: 'GothamMedium', sans-serif;
    font-size: 16px;
    margin: 0;
    border: 0;
    cursor: default;
    font-weight: lighter;
}

#root,
#rootDiv {
    position: absolute;
    top: 0;
    width: 100%;
}

#root {
    height: 100%;
}

#rootDiv {
    height: calc(100% - 131px + 26px);
    position: absolute;
    top: calc(131px - 26px);
    min-height: fit-content;
    min-width: fit-content;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
}

/*--------------------------------Elements Style--------------------------------*/

/* Dark theme */
@media (prefers-color-scheme: dark) {
    body {
        background: rgb(20, 20, 20);
        color: #ffffff;
    }

    a,input,textarea {
        color: #ffffff;
    }

    select,
    textarea,
    input,
    #SearchComponentDiv,
    #NotificationArray,
    #ProfilePictureMenuDiv,
    #CapteurArray,
    #RecentDataArray,
    #PatientArrayComponentDiv,
    #PatientAlertComponentDiv {
        background-color: #333333;
        background: #333333;
    }

    #PatientDetailsDiv {
        background-color: #333333 !important;
        background: #333333 !important;
    }

    #PatientArrayComponentDiv,
    #PatientDetailsDiv {
        border: 2px solid aquamarine;
    }

    #PatientAlertComponentDiv {
        border: 2px solid #ff5c5c;
    }

    button {
        background-color: #555555;
    }

    #alertBody {
        background-color: #444444
    }

    select {
        color: #ffffff;
    }
}

/* Light theme */
@media (prefers-color-scheme: light) {
    body {
        background: rgb(184, 184, 255);
        background: linear-gradient(135deg, rgba(184, 184, 255, 0.5) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 194, 174, 0.6) 100%) no-repeat center center fixed;
        color: #111111;
    }

    a {
        color: #111111;
    }

    select,
    textarea,
    input,
    #SearchComponentDiv,
    #NotificationArray,
    #ProfilePictureMenuDiv,
    #RecentDataArray,
    #CapteurArray {
        background-color: #ffffff;
    }

    #alertBody {
        background-color: #f0f0f0
    }

    #PatientArrayComponentDiv {
        background-color: aquamarine;
    }

    #PatientAlertComponentDiv {
        background-color: #ff5c5c;
    }

    select {
        color: #111111;
    }
}

body {
    margin: 0;
    padding: 0;
    background-size: cover;
    height: 100vh;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 23px;
    margin-top: 22px;
    margin-left: 22px;
    margin-bottom: 22px;
}

h3 {
    font-size: 19px;
    margin-bottom: 30px;
}

p {
    margin: 0;
}

button {
    max-width: 330px;
    min-width: 250px;
    height: 50px;
    min-height: 50px;
    border-radius: 13px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
}

button:hover {
    transform: translateY(-3px);
}

a,
#aLink {
    font-size: 12px;
    text-decoration: underline;
    text-decoration: none;
    display: contents;
}

button:hover,
a:hover {
    cursor: pointer;
}

input,
select,
textarea {
    border-radius: 13px;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.3);
    cursor: text;
    text-indent: 10px;
    resize: none;
}

input[type="date"] {
    text-indent: 5px;
}

input[type="time"]{
    text-indent: 5px;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="number"],
select,
input[type="password"] {
    min-height: 50px;
    max-width: 330px;
    min-width: 250px;
    height: 50px;
}

textarea {
    min-height: 375px;
    min-width: 290px;
    max-width: 330px;
    width: calc(100% - 370px);
    margin-top: 20px;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

input::placeholder {
    text-indent: 10px;
}

textarea {
    padding-top: 15px;
}

/*--------------------------------Classes Style --------------------------------*/

.glassFrame {
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    background-color: rgba(81, 81, 81, 0.11);
    overflow: scroll;
    min-width: 368px;
    max-height: calc(100% - 131px + 26px + 26px + 26px);
}

.glassFrame::-webkit-scrollbar {
    display: none;
}

/*--------------------------------IDs Style--------------------------------*/

/*Login&Signup Components --------------------------------*/

#loginFrame {
    width: 40%;
    min-width: fit-content;
    min-height: fit-content;
    margin: auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#loginButton,#loginPassword{
    margin-bottom: 7px;

}

#loginFrame h1,
#signUpFrame h1 {
    margin-bottom: 50px;
}

#loginFrame h2,
#signUpFrame h2 {
    margin: 0;
}

#Loginferepo{
    position: absolute;
    bottom: 15px;
    left: 5px;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: max-content;
}

#Loginberepo{
    position: absolute;
    bottom: 5px;
    left: 5px;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: max-content;
}

#Loginvers{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    color: #878787;
}

#gitlogo{
    margin-right: 5px;
}

#loginFrame button,
#signUpFrame button {
    background: rgb(255, 236, 72);
    background: linear-gradient(135deg, rgba(255, 236, 72, 1) 0%, rgba(255, 248, 188, 1) 100%);
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
}

#loginFrame a,
#signUpFrame a {
    color: #878787;
}

/*Login Component --------------------------------*/

#loginFrame button {
    margin-top: 35px;
}

#loginEMail {
    margin-bottom: 24px;
}

#loginDivMdpOublie {
    max-width: 330px;
    min-width: 250px;
    display: flex;
    justify-content: flex-end;
}

/*Sign Up Component --------------------------------*/

#signUpFrame {
    margin: 22px;
    height: calc(100% - 44px - 44px);
    padding: 22px;
    display: flex;
    width: 100%;
    flex-direction: column;
}

#SignUpDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#SignupTextInputs {
    display: flex;
    flex-direction: column;
}

#signUpFrame input[type="text"],
#signUpFrame input[type="password"] {
    margin-bottom: 24px;
}

#signUpFrame input[type="radio"] {
    box-shadow: none;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

#signUpRadios {
    width: 330px;
}

#signUpRadios div {
    width: 330px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

#signUpFrame h2 {
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

/*Top Layout Component --------------------------------*/

#topLayoutFrame {
    width: calc(100% - 52px);
    height: 79px;
    margin: 26px;
    min-height: fit-content;
    min-width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    overflow: visible;
    z-index: 100;
    flex-wrap: wrap;
}

#topLayoutFrame div {
    display: flex;
    align-items: center;
}

#topLayoutLogo {
    margin-left: 15px;
    margin-right: 9px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

#topLayoutPfp {
    margin-right: 15px;
    margin-left: 9px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.3s ease;
}

#topLayoutPfp:hover,
#topLayoutNotificationBell:hover {
    transform: scale(1.1);
}

/*Back Button Component --------------------------------*/
#BackButton,
#topLayoutNotificationBell {
    transition: all 0.3s ease;
}

#BackButton * {
    cursor: pointer;
}

#BackButton:hover {
    transform: scale(1.1);
}

/*Dashboard Components --------------------------------*/

#DoctorDashboardDiv,
#PatientDashboardDiv {
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
}

#DoctorDashboardPatients,
#DoctorDashboardAlertesRecentes,
#PatientDashboardForm,
#PatientDashboardRecentElement {
    width: calc(50% - 40px);
    min-width: 400px;
    margin: 26px;
    overflow: scroll;
}

#DoctorDashboardPatients,
#PatientDashboardForm {
    margin-right: 13px;
}

#DoctorDashboardAlertesRecentes,
#PatientDashboardRecentElement {
    margin-left: 13px;
}

/*DoctorDashboardComponent --------------------------------*/

#DoctorDashboardPatientsHeader {
    display: flex;
    width: calc(100% - 22px - 22px);
    height: 50px;
    align-items: center;
    justify-content: space-between;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: 22px;
    margin-right: 22px;
}

#DoctorDashboardPatientsHeader h2 {
    margin: 0;
    margin-right: 22px;
}

#DoctorDashboardPatientsList {
    display: flex;
    flex-direction: column;
    height: calc(100% - 50px - 14px - 14px);
    align-items: center;
}

/*Doctor Dashboard Patient Array Component --------------------------------*/

#PatientArrayComponentDiv {
    display: flex;
    justify-content: space-between;
    height: 120px;
    min-height: 120px;
    width: calc(100% - 18px);
    border-radius: 16px;
    margin-bottom: 15px;
    overflow: hidden;
}

#PatientArrayComponentDiv * {
    cursor: pointer;
}

.PatientComponentInfos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#PatientArrayComponentInfosText h2 {
    margin: 0;
}

.PatientLittlePhoto {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    margin-left: 22px;
    margin-right: 22px;
}

#PatientArrayComponentContact {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#PatientArrayComponentContact button {
    min-height: 65px;
    min-width: 65px;
    margin-right: 15px;
}

/*Doctor Dashboard Patient Alert Component --------------------------------*/

#DoctorDashboardAlertesRecentes h2 {
    margin-bottom: calc(22px - 9px);
}

#PatientAlertComponentDiv{
    height: fit-content;
}

#CapteurArray {
    height: fit-content;
}

#PatientAlertComponentDiv, #CapteurArray {
    border-radius: 20px;
    margin: 9px;
    width: calc(50% - 18px - 4px);
    overflow: hidden;
}

#DoctorDashboardAlertsList{
    height: calc(100% - 50px - 14px - 14px);
}

#PatientDashboardCapteurList{
    height: fit-content;
    justify-content: space-between;
}

#DoctorDashboardAlertsList,#PatientDashboardCapteurList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: scroll;
    align-content: flex-start;
}

#DoctorDashboardAlertsList::-webkit-scrollbar,
#PatientDashboardCapteurList::-webkit-scrollbar {
    display: none;
}

#alertHeader {
    display: flex;
    align-items: center;
}

#alertBody {
    margin: 19px;
    border-radius: 10px;
    height: fit-content;
    padding: 10px;
}

#alertIcon {
    height: 65px;
    width: 65px;
    margin-right: 19px;
}

#alertHeader h2 {
    margin: 0;
}

#DoctorDashboardAlertsList::-webkit-scrollbar {
    display: none;
}

#CapteurArray>.PatientComponentInfos,
#PatientAlertComponentDiv>.PatientComponentInfos {
    margin-top: 27px;
}

#CapteurArray:nth-child(odd) {
    margin-right: 0;
    margin-left: 14px;
}
  
#CapteurArray:nth-child(even) {
    margin-left: 0;
    margin-right: 14px;
}

/*Doctor Patient Details --------------------------------*/

#PatientDetailsDiv,
#ProfileDiv,
#NotificationsDiv {
    display: flex;
    margin-top: 28px;
    height: calc(100% - 50px - 14px);
    width: calc(100% - 25px - 25px);
    flex-direction: column;
}

#PatientDetailsDiv {
    background: rgb(130, 248, 255);
    background: linear-gradient(135deg, rgba(130, 248, 255, 1) 0%, rgba(150, 255, 150, 1) 100%);
}

#AllPatientInfos {
    padding: 22px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#attribMedicaments{
    margin-bottom: 30px;
}

#attribMedicaments *{
    margin-bottom: 10px;
}

#attribMedicaments h3{
    margin-bottom: 30px;
}

#attribMedicaments p{
    min-height: 25px;
}

#attribMedicaments input{
    margin-right: 5px;
}

.PatientInfoColumn {
    width: calc(25% - 11px);
    min-width: 250px;
    display: flex;
    flex-direction: column;
}

#PatientDetailsPfp {
    border-radius: 100%;
    width: 60%;
    margin-bottom: 15px;
}

.H3physicalActivity {
    margin-top: 55px;
}

/*Patient Dashboard Form --------------------------------*/

/*Patient Form Component --------------------------------*/

#PatientFormDiv {
    display: flex;
    flex-direction: column;
}

#PatientFormAllInputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#PatientFormTextInputs {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

#PatientFormTextInputs h3{
    margin-bottom: 10px;
}

#PatientFormDiv input,select {
    margin-bottom: 13px;
}

#PatientFormButton {
    margin: 13px;
    margin-left: auto;
}

/*Patient Dashboard Recent Element --------------------------------*/

#RecentDataArray {
    height: fit-content;
    border-radius: 20px;
    width: calc(100% - 30px - 30px);
    margin-bottom: 15px;
    padding: 15px;
}

#FamilyDashboardRecentElementList {
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* Profile Picture Menu Component --------------------------------*/

#ProfilePictureMenuDiv {
    display: flex;
    flex-direction: column;
    padding: 12px;
    border-radius: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 79px;
    right: 0px;
    z-index: 1000;
}

#ProfilePictureMenuProfileButton {
    background-color: #fff388;
    margin-bottom: 12px;
}

#ProfilePictureMenuDisconnectButton {
    background-color: #ff9797;
}

/*Search Component --------------------------------*/

#SearchComponentDiv {
    display: flex;
    align-items: center;
    border-radius: 13px;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.3);
    height: 50px;
    max-width: 330px;
    min-width: 200px;
}

#SearchComponentInput {
    border: none;
    background-color: transparent;
    box-shadow: none;
    width: calc(100% - 16px);
}

#SearchComponentIcon {
    z-index: 1000;
    height: 16px;
    width: 16px;
    margin-left: 16px;
}

/*Profile Component --------------------------------*/

#ProfileDiv input,
#ProfileDiv select {
    width: 90%;
    margin-bottom: 12px;
}

#ProfileHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 22px;
}

.AddButton {
    width: 50px;
    min-width: 50px;
    margin-bottom: 15px;
}

#ProfileSaveButton,
#ProfilePfpButton {
    margin: 0px;
    width: 200px;
}

#ProfileDiv a {
    color: #878787;
}

.relationInfo {
    margin-bottom: 55px !important;
}

/*Notification Array Component --------------------------------*/

#NotificationArray {
    border-radius: 20px;
    width: calc(100% - 30px - 30px);
    margin: 15px;
    margin-bottom: 0px;
    padding: 15px;
}

#NotificationArray div {
    display: flex;
    justify-content: space-evenly;
}

/*Add capteur Component --------------------------------*/

#xButton{
    height: 20px;
    width: 20px;
    min-width: 20px;
    min-height: 20px;
    position: absolute;
    transition: none;
    margin: 10px;
    margin-left: calc(50% - 55px);
}
#xButton:hover{
    transform: none;
}

#AddCapteurDiv, #RecentDataDiv{
    display: flex;
    height: calc(100% - 50px - 14px);
    width: calc(100% - 25px - 25px);
    margin-top: 28px;
    align-items: center;
}

#AddCapteurDiv {
    justify-content: center;
    flex-direction: column;
}

#RecentDataDiv{
    justify-content: flex-start;
    flex-direction: column-reverse;
}

#AddCapteurDiv button{
    margin: 10px;
    width: 300px;
}